.app-home {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(20, 20, 20);
}

#orientation {
  position: absolute;
  border: 1px solid white;
  bottom: 20px;
  left: 20px;
  box-shadow: 1px 1px 1px #444444;
}

#photoInfo {
  position: absolute;
  bottom: 20px;
  left: 60px;
  color: rgb(196, 196, 196);
  text-shadow: 1px 1px 1px #444444;
}

.portrait {
  width: 20px;
  height: 30px;
}

.landscape {
  width: 30px;
  height: 20px;
}